.container{
    background-image: url('/assets/img/background.webp');
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    header{
        width: 100%;
        div {
            display: flex;
            padding: 2vh 3vw;
            align-items: center;
            justify-content: end;
            gap: 3vw;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.705);
            p {
                color: white;
            }
        }
    }
}
.card-container{
    width: 200px;
    height: 350px;
}